/* Misc */

#doggo {
  width: 150px;
  height: 150px;
  margin: 10px;
}

#doggo:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

#doggo:active {
  transform: scale(0.9);
  transition: all 0.2s;
}

/* Content */

.content-wrapper-home {
  display: flex;
  width: 100%;
  max-width: 1400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
#p-content {
  text-align: justify;
}

.right-aside-row{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  padding: 15px;
}

.right-aside-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1400px;
  padding: 15px;
}

.right-aside-col {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-aside-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-aside-header h2 {
  font-size: 35px;
}

.reserve-btn{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}