/* Content */

.content-wrapper-login {
  display: flex;
  width: 20%;
  height: 89vh;
  max-width: 1400px;
  flex-direction: column;
  justify-content: center;
}

/* Footer */

#footer-login {
  display: flex;
  width: 100%;
  position: sticky;
  bottom: 0;
}
