/* Misc */

#raccoon {
  width: 150px;
  height: 150px;
  margin: 10px;
}

#raccoon:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

#raccoon:active {
  transform: scale(0.9);
  transition: all 0.2s;
}

/* Content */

.content-wrapper-admin {
  display: flex;
  width: 100%;
  max-width: 1400px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.content-aside{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  padding: 15px;
}

.content-h1 {
  font-size: 42px;
  padding: 5px;
}

#p-content{
  margin-bottom: 30px;
}